@media (orientation:landscape){
	.ensino-n0{
	display: block;
	width: 100vw;
}
/*descrição*/
	.ensino-n1{
		display: flex;
		width: 100vw;
		height: 60vh;
	}
	.gif-ens{
			position: absolute;
			margin-left: 30vw;
			align-items: center;
			justify-content: space-between;
			width: 40vw;
			height: 26.666vw;
			opacity: 8%;
			margin: white 5px;
		}
	.ensino-n2-a{
		display: block;
		margin-top: 3%;
	}
/*arquivos*/
	.ensino-n2{
		display: flex;
		width: 100vw;
	}
		.curso{
			display: block;
			width: 100vw;
		}
		.but-curso{
			width: 100vw;
			height: 40vh;
			font-family: calibri;
			font-size: 5rem;
		}
		.but-fis-1{
			background-color: #509099; 
		}
		.but-mat-1{
			background-color: #7D5536;
		}
			.disciplina{
				display: none;
				width: 100vw;
			}
			.but-disciplina{
				width: 100vw;
				height: 20vh;
				font-family: calibri;
				font-size: 4rem;
			}
			.but-fis-2{
				background-color: #B7DADF;
			}
			.but-mat-2{
				background-color: #AB917D;
			}
				.materia{
					display: none;
					width: 100vw;
				}
				.but-materia{
					width: 100vw;
					height: 15vh;
					font-family: calibri;
					font-size: 3rem;				
				}
					.content{
						display: none;
						width: 100vw;
						justify-content: space-around;
						flex-wrap: wrap;
					}
						.content-a{
							border-radius: 3%;
							margin: 2.5% 1.6666% 2.55% 1.6666%;
						}
							.img-content{
								width: 30vw;
								height: 18vw;
								border-radius: 3%;
							}
}
@media (orientation:portrait){
.ensino-n0{
display: block;
width: 100vw;
}
/*descrição*/
	.ensino-n1{
		display: flex;
		width: 100vw;
		height: 40vh;
	}
	.gif-ens{
			position: absolute;
			margin-left: 30vw;
			align-items: center;
			justify-content: space-between;
			width: 40vw;
			height: 26.666vw;
			opacity: 8%;
			margin: white 5px;
		}
	.ensino-n2-a{
		display: block;
		margin-top: 3%;
	}
	.center{
		font-size: 1.3orem;
	}
/*arquivos*/
	.ensino-n2{
		display: flex;
		width: 100vw;
	}
		.curso{
			display: block;
			width: 100vw;
		}
		.but-curso{
			width: 100vw;
			height: 15vh;
			font-family: calibri;
			font-size: 5rem;
		}
		.but-fis-1{
			background-color: #509099; 
		}
		.but-mat-1{
			background-color: #7D5536;
		}
			.disciplina{
				display: none;
				width: 100vw;
			}
			.but-disciplina{
				width: 100vw;
				height: 10vh;
				font-family: calibri;
				font-size: 4rem;
			}
			.but-fis-2{
				background-color: #B7DADF;
			}
			.but-mat-2{
				background-color: #AB917D;
			}
				.materia{
					display: none;
					width: 100vw;
				}
				.but-materia{
					width: 100vw;
					height: 5vh;
					font-family: calibri;
					font-size: 3rem;				
				}
					.content{
						display: none;
						width: 100vw;
						justify-content: space-around;
						flex-wrap: wrap;
					}
						.content-a{
							border-radius: 3%;
							margin: 5vw auto;
						}
							.img-content{
								width: 90vw;
								height: 50vw;
								border-radius: 3%;
							}

}
