.form-n0{
	display: block;
	width: 100vw;
}
@media (orientation:landscape){
	.leitura-n1{
		display: block;
		width: 100vw;
		height: 80vh;		
		margin-top: 10vh;
	}
		.leitura-n2-content{
			display: flex;
			position: relative;
			width: 80%;
			height: 85%;
			background-color: white;
			margin: auto;
			vertical-align: middle;
		}
		.leitura-n2-title{
			position: relative;
			display: flex;
			justify-content: space-around;
			width: 100vw;
			height: 15%;
			background-color: white;
		}
			
	.viagem-n1{
		display: block;
		width: 100vw;
		height: 100vh;
		margin: 10vh 0 0 0;
	}
		.viagem-n2-content{
			display: flex;
			position: relative;
			width: 70%;
			height: 85%;
			background-color: white;
			margin: auto;
		}
}
			.leitura-n2-title-txt{
				font-size: 2.5rem;
				color: black;
				text-align: center;
				vertical-align: middle;
				margin: auto;
				background-color: white;
				font-family: calibri;
			}
@media (orientation:portrait){
		.leitura-n1{
		display: block;
		width: 100vw;
		height: 50vh;		
		margin-top: 5vh;
	}
		.leitura-n2-content{
			display: flex;
			position: relative;
			width: 95%;
			height: 70%;
			background-color: white;
			margin: auto;
		}
		.leitura-n2-title{
			position: relative;
			display: flex;
			justify-content: space-around;
			width: 100vw;
			height: 15%;
			background-color: white;
		}
			
	.viagem-n1{
		display: block;
		width: 100vw;
		height: 50vh;
		margin: 5vh 0;
	}
		.viagem-n2-content{
			display: flex;
			position: relative;
			width: 95%;
			height: 70%;
			background-color: white;
			margin: auto;
		}
}
			.leitura-n2-title-txt{
				font-size: 2.5rem;
				color: black;
				text-align: center;
				vertical-align: middle;
				margin: auto;
				background-color: white;
				font-family: calibri;
			}
}
			.leitura-n2-title-txt{
				font-size: 2.5rem;
				color: black;
				text-align: center;
				vertical-align: middle;
				margin: auto;
				background-color: white;
				font-family: calibri;
			}
@media (orientation: landscape){
			.leitura-n3-but-1, .leitura-n3-but-2{
				position: relative;
				width: 7%;
				height: 100%;
				background-color: #81BDA4;
				opacity: 30%;
			}
			.viagem-n3-but-1, .viagem-n3-but-2 {
				position: relative;
				width: 9%;
				height: 100%;
				background-color: #FE907A;
				opacity: 30%;
				z-index: 2;
			}
			.leitura-n3-but-1:hover{
				opacity: 100%;
			}
			.leitura-n3-but-2:hover{
				opacity: 100%;
			}
			.viagem-n3-but-1:hover{
				opacity: 100%;
			} 
			.viagem-n3-but-2:hover{
				opacity: 100%;
			}
				.leitura-n3-but-ico, .viagem-n3-but-ico{
					position: relative;
					width: 70%;
					height: 20%;
				}
}
@media (orientation: portrait){
			.leitura-n3-but-1, .leitura-n3-but-2{
				position: relative;
				width: 7%;
				height: 100%;
				background-color: #81BDA4;
			}
			.viagem-n3-but-1, .viagem-n3-but-2 {
				position: relative;
				width: 9%;
				height: 100%;
				background-color: #FE907A;
			}
				.leitura-n3-but-ico, .viagem-n3-but-ico{
					position: relative;
					width: 85%;
					height: 10%;	
				}
}
				.leitura-n3-but-1, .viagem-n3-but-1{
					border-radius: 3vh 0 0 3vh;
				}
				.leitura-n3-but-2, .viagem-n3-but-2{
					border-radius: 0 3vh 3vh 0;
				}
			.leitura-n3{
				position: relative;
				width: 86%;
				height: 100%;
			}
			.viagem-n3{
				position: relative;
				width: 86%;
				height: 100%;
				z-index: 2;
			}	

				.leitura-n3-img {
					display:none;
					position: relative;
					width: 100%;
					height: 100%
				}
				.viagem-n3 img{
					display:none;
					position: relative;
					width: 100%;
					height: 100%;					
				}
				.viagem-n4-desc-title{
						font-size: 1.3rem;
						margin-top: 2vh;
				}
					.viagem-n4-desc{
						font-size: 1.3rem;
						margin: auto 5%;
						text-indent: 5vh;
						margin-top: 2vh;
						color: black;
					}
.grey{
	background-color: #dedede;
}
.black{
	color: black;
}




.leitura-n4-info{
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 2;
}
.leitura-n4-img{
	display: block;
	position: relative;
	width: 100%;
	height: 100%;	
	z-index: 1;
}
		.leitura-n3-img:hover .leitura-n4-info{
			display:block;
		}
		.leitura-n3-img:hover .leitura-n4-img{
			display:none;
		}