/*corpo*/
.body-n0{	
	display: block;
	width: 100%;
	border: none;
	margin: none;
	overflow-x: auto;
	align-items: center;
}
	.body-n1{	
		display: block;
		width: 100%;
		border: none;
		margin: none;
	}
		.body-n02{
			display: block;
			width: 100vw;
		}
/*cabeçalho*/
#header-n0{
	display: flex;
	background-color: #B3A8C5;
 	height: 15vh;
 	width: 100vw;
}
	#header-n1-img-logo{
		 width: 10vw;
		 min-width: 18vh;
		 height: 6vw;
		 min-height: 12vh;
		 position: relative;
		 object-position: top;
		 float: left;
		 margin: 2.5vh 5vh;
	}
	#header-n1-txt-title{
		font-size: 5vh;
		margin: auto;
		color: black;
		align-items: center;
		margin-left: 0;	
	}
/*navegação*/
.nav-n0{
	display: flex;
	width: 100vw;
	height: 7vh;
	align-items: center;
	background-color: #9D0B34;
}
@media (orientation:landscape){
	.nav-n1{
		display: flex;
		justify-content: space-around; 
		width: 100vw;
		height: 7vh;
		background-color: #9D0B34;
		margin: auto;
		vertical-align: middle;
	}
		.nav-portrait-menu{
			display: none;
		}
		.nav-n2{
			display: flex;
			height: 7vh;
			background-color: #9D0B34; 
			margin: auto;
			align-items: center;
		}
			.nav-n3-but{
				height: 5vh;
				background-color: #9D0B34;
				margin: auto;
				align-items: center;
				font-size: 2vw; 
				min-width: 5vw;
			}
			.nav-n3-but{
				border-style: solid;
				border-color: white;
				border: 3px;
			}
			.nav-n3-but:hover{
				-moz-transform: scale(1.1);
				-webkit-transform: scale(1.1);
				transform: scale(1.1);
			}
				.nav-n4-but-txt{
					text-decoration: none;
					color: white;
					font-size: 3vh;
					text-underline-position: none;   
				   	margin-right: 1vh;
				}
}
@media (orientation:portrait){
		.nav-portrait-menu{			
			display: flex;
			position: relative;
			width: 100%;
			height: 100%;
			justify-content: space-around;
			background-color: #9D0B34;
			z-index: 1;
			vertical-align: middle;
		}
			.portrait-menu-txt{
				font-size: 4vh;
				text-align: center;
				color: white;
				font-weight: bolder;
				align-items: center;
				margin: auto;
			}
		.nav-n0:hover .nav-n1{
			display: block;
		}
		.portrait-menu-txt.nav-n1{
			display: block;
		}
	.nav-n1{
		display: none;
		position: absolute;
		height: 45vh;
		width: 100%;
		background-color: #9D0B34; 
		margin: 10vh 0 0 0;
		align-items: center;
		z-index: 2;
		border-radius: 3vh;
	}
		.nav-n2{
			display: flex;
			position: relative;
			width: 100%;
			height: 20%;
		}
			.nav-n3-but{
				position: relative;
				width: 100%
				height: 100%;
				background-color: #9D0B34;
				margin: auto;
				align-items: center;
				font-size: 2vw;
			}
				.nav-n4-but-txt{
					position: relative;
					width: 100%
					height: 100%;
					text-decoration: none;
					color: white;
					font-size: 3vh;					
				}
}
/*rodapé*/
@media (orientation:landscape){
.footer-n0{
	display: flex;
	width: 100vw;
	height: 20vh;
	background-color: #CDCDCD;
	}
	.footer-n1{
		display: flex;
		position: relative;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		height: 100%;
		margin: auto 2%;
	}
		.footer-n2-a{
			position: relative;
			width: 30%;
			height: 100%;
			vertical-align: middle;
			align-items: center;
		}
			.footer-n2-b{
				position: relative;
				width: 6%;
				height: 90%;
				background-color: #CDCDCD;
				margin: none;
			}
				.footer-n1 button{
					position: relative;
					width: 100%;
					height: 100%;
					background-color: #CDCDCD;			
				}
					.footer-n1 button img{
						width: 75%;
						height: 50%;			
					}
				.footer-n2-a-n1{
					position: relative;
					width: 100%;
					height: 100%;
				}
					#footer-n2-a-n2-img{
						position: relative;
						width: 100%;
						height: 80%;
						vertical-align: middle;
						align-items: center;
						margin: 3% 0;
					}

		.footer-n2-a:hover{
			-moz-transform: scale(1.05);
			-webkit-transform: scale(1.05);
			transform: scale(1.05);
		}
		.footer-n2-b:hover{
			-moz-transform: scale(1.1);
			-webkit-transform: scale(1.1);
			transform: scale(1.1);
		}
		#footer-n2-a-n2-img:hover{box-shadow:0 2px 2px #000000;}
	}


@media (orientation:portrait){
			.footer-n0{
				display: flex;
				width: 100vw;
			}
	.footer-n1{
		display: flex;
		flex-wrap: wrap;
		position: relative;
		justify-content: space-around;
		align-items: center;
		background-color: #CDCDCD;
		height: 100%;
		margin: auto;
	}
	.footer-n2-a{

	}
		.footer-n2-b{
			background-color: #CDCDCD;
			margin: none;
		}
		.footer-n1 button{
			position: relative;
			width: 30vw;
			height: 30vw;
			background-color: #CDCDCD;			
		}
			.footer-n1 button img{
				position: relative; 
				width: 50%;
				height: 50%;			
			}
		#footer-n2-a-n2-img{
			position: relative;
			width: 60vh;
			height: 15vh;
			margin: 3vh auto;

		}
		.footer-n2-a:hover{
			-moz-transform: scale(1.1);
			-webkit-transform: scale(1.1);
			transform: scale(1.1);
		}
		.footer-n2-b:hover{
			-moz-transform: scale(1.1);
			-webkit-transform: scale(1.1);
			transform: scale(1.1);
		}
}
/*up*/

				.up{
					position: relative;
					width: 8vh;
					height: 8vh;
					opacity: 30%;
				}
				.up:hover{
					opacity: 100%;
				}
@media (orientation:landscape){
				.top{
					position: fixed;
					margin-left: 93vw;
					margin-top: 85vh;
					z-index: 1;
				}
}
@media (orientation:portrait){
				.top{
					position: fixed;
					width: auto;
					height: auto;
					z-index: 4;
				}
				.up{
					position: relative;
					margin:auto;
					width: 8vh;
			 		height: 8vh;
					opacity: 20%;
				}
}

.bold{
	font-weight: bolder;
}
.center{
	text-align: center;
}
.justify{
	text-align: justify;
}
.margin-auto{
	margin: auto;
}
.overflow-auto{
	overflow-y: auto;
}
